.negro{
    color: black;
}

.tamano{
 max-width: 100%;
 width: 70%;
}


.img{
    height: 30%;
    width: 30%;
}

.tamanoimg{
    width: 25%;
    height: 25%;
}

.posicion{
    position: absolute;
    top: 80%;
}   

.final{
    background-color: #040505;
    height: 10%;
      
}

.logon{
    width: 11%;

}

.correo{
    width: 1%;
    position: absolute;
    left: 15%;
    top: 138%;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background-color: transparent;
    border: 0.125rem solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.5rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-outline-light {
    color: #f8f9fa;
   
}

.btn-social {
    border-radius: 100%;
    display: inline-flex;
    width: 3.25rem;
    height: 3.25rem;
    font-size: 1.25rem;
    justify-content: center;
    align-items: center;
}

.mx-1 {
    margin-right: 0.25rem !important;
  }

.icon{
    width: 2.00rem;
}

.mov{
    position: absolute;
    right: 50%;
    top: 180%;
}

.web{
    position: absolute;
    left: 55%;
    top: 180%;
}
.camara{
    width: 20%;
}

col-md-6 {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.images{
    width: 20%;
}


.zapatillas{
    position: absolute;
    width: 50%;
}

.pngegg{
    position: absolute;
    right: 10%;
    left: 32%;
    top: 14%;
}

.name {
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    padding-bottom: 10px;
    height: 70px;
    overflow: hidden;
    color: #040505;
}

.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
.texto-encima{
    position: absolute;
    top: 10px;
    left: 10px;
}
.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.product img{
    width: 320px;
}
.product h3{
    font-size: 1.7rem;
    margin-top: 5px;
    margin-bottom: 5px;
}
.card{
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.titulo{
    font-family: 'Times New Roman', Times, serif;
    text-decoration: overline;
    text-shadow: 2px 2px 5px ;
}

.nombres{
    width: 200%;
    position: absolute;
    top: 335%;

}

.info{
position: absolute;
top: 325%;

}

.al{
    width: 100%;
}

.text{
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.negro{
    position: absolute;
    color: var(--red);
    top: -1600%;
    right: 37%;
   
}

.negro2{
    position: absolute;
    color: var(--red);
    top: -1450%;
    right: 10%;
}

.negro3{
    position: absolute;
    color: var(--red);
    top: -270%;
    right: 80%;
}

.negro4{
    position: absolute;
    color: var(--red);
    top: -200%;
    right: 80%;
}

.negro5{
    position: absolute;
    color: var(--red);
    top: -130%;
    right: 80%;
}

.negro6{
    position: absolute;
    color: var(--red);
    top: -60%;
    right: 80%;
}
.mision{
    position: absolute;
    color: var(--red);
    top: -1000%;
    right: 10%;
}
.tamano{
 max-width: 100%;
 width: 70%;
}




.tamanoimg{
    width: 25%;
    height: 25%;
}

.posicion{
    position: absolute;
    top: 80%;
}   

.final2{
    background-color: #040505;
    height: 50%;
}
.texto{
   position: absolute;
   right: 18%;
   top:143%; 
}
.texto2{
    position: absolute;
    height: 30%;
    right: 45%;
    top:133%; 
    
 }
.centro{
   position: absolute;
   right: 38%;
   top:10%;
}
.im{
    position: absolute;
    height:  110%;
    
}

    
.top{
    position: absolute;
    top:200%;
}

.color1{
    background-color: #fff;
}

.portfolio .portfolio-item .portfolio-item-caption .portfolio-item-caption-content {
    font-size: 1.5rem;
  }

.portfolio .portfolio-item {
    cursor: pointer;
    position: relative;
    display: block;
    max-width: 25rem;
    border-radius: 0.5rem;
    overflow: hidden;
  }
  .portfolio .portfolio-item .portfolio-item-caption {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    background-color: rgba(26, 188, 156, 0.9);
  }
  .portfolio .portfolio-item .portfolio-item-caption:hover {
    opacity: 1;
  }
  .portfolio .portfolio-item .portfolio-item-caption .portfolio-item-caption-content {
    font-size: 1.5rem;
  }


.portfolio-modal .close {
    position: absolute;
    z-index: 1;
    right: 1.5rem;
    top: 1rem;
    font-size: 3rem;
    line-height: 3rem;
    color: #1abc9c;
    opacity: 1;
  }


  
.portfolio-modal .portfolio-modal-title {
    font-size: 2.25rem;
    line-height: 2rem;
  }

@media (min-width: 992px) {
    .portfolio-modal .portfolio-modal-title {
      font-size: 3rem;
      line-height: 2.5rem;
    }
  }

.form-group {
    margin-bottom: 1rem;
  }

.floating-label-form-group {
    position: relative;
    border-bottom: 1px solid #e9ecef;
  }
.floating-label-form-group input,
.floating-label-form-group textarea {
    font-size: 1.5em;
    position: relative;
    z-index: 1;
    padding-right: 0;
    padding-left: 0;
    resize: none;
    border: none;
    border-radius: 0;
    background: none;
    box-shadow: none !important;
  }
.floating-label-form-group label {
    font-size: 0.85em;
    line-height: 1.764705882em;
    position: relative;
    z-index: 0;
    top: 2em;
    display: block;
    margin: 0;
    transition: top 0.3s ease, opacity 0.3s ease;
    opacity: 0;
  }
.floating-label-form-group:not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #e9ecef;
  }
  
.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
  }
  
.floating-label-form-group-with-focus label {
    color: #1abc9c;
  }
  
form.row:first-child .floating-label-form-group {
    border-top: 1px solid #e9ecef;
  }

.error-control {
    border: 1px solid red;
}

label.error {
    color: red;
    width: 300px;
    font-size: 0.8em;
    margin-top: -5px;
    margin-bottom: 10px;
}

.go-top-container {
    position: fixed;
    bottom: 4rem;
    right: 0rem;
    width: 6.6rem;
    height: 6.6rem;
    z-index: -1;
}

.go-top-button {
    width: 0rem;
    height: 0rem;
    cursor: pointer;
    transition: .2s;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.icontop{
  position: absolute;
  width: 70%; 
  height: 60%;
  left: 20%;
}
.go-top-button i {
    position: absolute;
    font-size: 1.7rem;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: white;
    transition: .2s;
}

.show {
    z-index: 10;
}

.show .go-top-button {
    animation: popup .3s ease-in-out;
    width: 6.6rem;
    height: 6.6rem;
    z-index: 11;
}

.show i {
    transform: translate(-50%, -50%) scale(0);
}

@keyframes popup {
    0% {
        width: 0rem;
        height: 0rem;
    }
    50% {
        width: 8rem;
        height: 8rem;
    }
    100% {
        width: 6.6rem;
        height: 6.6rem;
    }
}

@keyframes popup{
 0%{
     width: 0rem;
     height: 0rem;
 }   
 50%{
     width: 8rem;
     height: 8rem;
 }
 100%{
     width: 6.6rem;
     height: 6.6rem;
 }
}


#map{
    height: 500px;
    width: 100%;
}

.modal-open {
    overflow: hidden;
  }
  .modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
  }
  
  .modal-dialog {
    position: relative;
    width: auto;
    margin: 0.5rem;
    pointer-events: none;
  }
  .modal.fade .modal-dialog {
    transition: transform 0.3s ease-out;
    transform: translate(0, -50px);
  }
  @media (prefers-reduced-motion: reduce) {
    .modal.fade .modal-dialog {
      transition: none;
    }
  }
  .modal.show .modal-dialog {
    transform: none;
  }
  .modal.modal-static .modal-dialog {
    transform: scale(1.02);
  }
  
  .modal-dialog-scrollable {
    display: flex;
    max-height: calc(100% - 1rem);
  }
  .modal-dialog-scrollable .modal-content {
    max-height: calc(100vh - 1rem);
    overflow: hidden;
  }
  .modal-dialog-scrollable .modal-header,
  .modal-dialog-scrollable .modal-footer {
    flex-shrink: 0;
  }
  .modal-dialog-scrollable .modal-body {
    overflow-y: auto;
  }
  
  .modal-dialog-centered {
    display: flex;
    align-items: center;
    min-height: calc(100% - 1rem);
  }
  .modal-dialog-centered::before {
    display: block;
    height: calc(100vh - 1rem);
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    content: "";
  }
  .modal-dialog-centered.modal-dialog-scrollable {
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  .modal-dialog-centered.modal-dialog-scrollable .modal-content {
    max-height: none;
  }
  .modal-dialog-centered.modal-dialog-scrollable::before {
    content: none;
  }
  
  .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 0 solid rgba(0, 0, 0, 0.2);
    border-radius: 0.75rem;
    outline: 0;
  }
  
  .modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
  }
  .modal-backdrop.fade {
    opacity: 0;
  }
  .modal-backdrop.show {
    opacity: 0.5;
  }
  
  .modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 0 solid #dee2e6;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
  }
  .modal-header .close {
    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem auto;
  }
  
  .modal-title {
    margin-bottom: 0;
    line-height: 1.5;
  }
  
  .modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 4rem 1rem;
  }
  
  .modal-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: 4rem 1rem-0.25rem;
    border-top: 0 solid #dee2e6;
    border-bottom-right-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
  }
  .modal-footer > * {
    margin: 0.25rem;
  }
  
  .modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
  }
  
  @media (min-width: 576px) {
    .modal-dialog {
      max-width: 500px;
      margin: 1.75rem auto;
    }
  
    .modal-dialog-scrollable {
      max-height: calc(100% - 3.5rem);
    }
    .modal-dialog-scrollable .modal-content {
      max-height: calc(100vh - 3.5rem);
    }
  
    .modal-dialog-centered {
      min-height: calc(100% - 3.5rem);
    }
    .modal-dialog-centered::before {
      height: calc(100vh - 3.5rem);
      height: -webkit-min-content;
      height: -moz-min-content;
      height: min-content;
    }
  
    .modal-sm {
      max-width: 300px;
    }
  }
  @media (min-width: 992px) {
    .modal-lg,
  .modal-xl {
      max-width: 800px;
    }
  }
  @media (min-width: 1200px) {
    .modal-xl {
      max-width: 1140px;
    }
  }
.dark-mode {
    background-color: black;
    color: white
}
.dark-mode-button {
    position: absolute;
    top: 140%;
    left: 20px;
    padding: 20px;
    background: white;
}
html.dark-mode {
    filter: invert(100%);
}